{% extends "mainpage/home.html" %}
{% block content %}
<style >
	.cus{
		font-size:30px;
		padding:7%;
        top:25%;
	}
	.query{
		font-size:15px;
		right:35%;
		padding:4%;
		padding-left:7%;
        top:6%;
        
	}
	.box{
		margin-top:1%;
		padding:1%;
        overflow: visible;
        width: auto;
	}
	.label{
        font-size: 18px;
		padding-right:5%;
}
    footer{
		position:relative;
		width:auto;
		
	}
	.row{
        width:auto;
	
	    margin-left:7%;
	 }
	 .low{
	 	width:50px; height:auto; border-radius:20%;
	 	
	 }
	  .Button:focus {
  outline: none;
}
#contact{
          background-color:#3b444b;
          border-radius:10px;
        }
	 @media screen and (min-width: 1000px){
footer{
	 	position:fixed;
	 	width:100%;
	 }
	}
	@media screen and (min-width: 1200px) {
		   .cus{
		   	position:absolute;
		font-size:50px;
		padding:7%;
        top:25%;
        width:auto;


	}
	.query{
		position:absolute;
		font-size:15px;
		right:40%;
		padding:7%;
        top:12%;

	}
	.box{
		position: relative;
		width: 300px;
		margin-top:2%;
		padding:2%;
        overflow: visible;
        columns: 50px;
        
	}
	.label{
        font-size: 18px;
		padding-right:5%;
	}
	 footer{
	 	width:100%;
	 	position:fixed;

	 }
	 .row{
        width:auto;
	 	margin-right:3%;
	 	float:right;
        margin-top:4%;
        border-width: 10%;
	 }
	 .low{
	 	width:130px; height:auto; border-radius:20%;
	 	
	 }
	 #contact{
          background-color:#3b444b;
          border-radius:10px;
        }
	 .low:hover  {
  transform: rotateY(360deg);
  transition: transform 1s;
  transform-style: preserve-3d;
  transition-duration: 3s;
}
 .Button:focus {
  outline: none;
}
   }
</style>
<h class="cus"><b>Contact Us</b></h>
	<form class="query">
  <label for="fname" class="label">Subject :</label><br>
  <input type="text"placeholder="Subject.." name="fname" class="box"><br><br>
  <label for="pin"  class="label">Your Name :</label><br>
  <input type="text" placeholder="Your Name.." name="pin"   class="box"><br><br>
  <label for="mail"  class="label">Your Mail :</label><br>
  <input type="text" placeholder="Your Mail" name="mail" class="box"><br><br>
  <label for="message"  class="label">Your Message :</label><br>
  <textarea placeholder="Message..." name="message" rows="4" class="box"></textarea><br><br>
  <input type="submit" value="Submit" class="Button" style="padding:7px; font-size:15px; border-radius:20%; ">
</form>
<div class="row">
    <a href="https://www.facebook.com/profile.php?id=100006227111299"><img src="https://c7.uihere.com/files/353/468/986/menlo-park-facebook-social-media-computer-icons-social-networking-service-facebook-new-logo-png-thumb.jpg" alt="Snow" class="low"></a>
    <img src="https://lh3.googleusercontent.com/bYtqbOcTYOlgc6gqZ2rwb8lptHuwlNE75zYJu6Bn076-hTmvd96HH-6v7S0YUAAJXoJN"  alt="Forest" class="low"><br>
    <img src="https://lh3.googleusercontent.com/2sREY-8UpjmaLDCTztldQf6u2RGUtuyf6VT5iyX3z53JS4TdvfQlX-rNChXKgpBYMw " alt="Mountains"class="low">
    <img src="https://lh3.googleusercontent.com/x3XxTcEYG6hYRZwnWAUfMavRfNNBl8OZweUgZDf2jUJ3qjg2p91Y8MudeXumaQLily0 " alt="Mountains" class="low"><br>
</div>

{% endblock content %}